.map-loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .spinner {
    border: 8px solid #f3f3f3; /* Light grey background border */
    border-top: 8px solid #eba91b; /* Yellow top */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loading-text {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  